doctype html
html(lang=site.langCode)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      block title
    link(rel="stylesheet", href=site.stylesheet)
  body.c-body-font.near-black
    div.bg-near-black.near-white.f4
      div.mw8-ns.center.flex.flex-column.justify-between.items-center.tc.flex-row-ns
        h1.f2.f3-ns.ma0.pa3
          a(href=langUrlForPath("/")).white.no-underline
            block site-title
        div.flex.flex-row
          block nav
    block content
    footer(role="banner")#page-footer.bg-near-black.light-gray.ma0.mt5
      div.mw8-ns.center.pa4
        block footer