@import "tachyons";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Oswald:400,700&subset=latin-ext");

.c-body-font {
  font-family: "Noto Serif", georgia, times, serif;
}

.c-heading-font,
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.c-bg-orange {
  background-color: #FF7F2E;
}